<%= form_with model: current_user, local: true, url: subscription_url, method: :post, html: { id: "payment-form", class: "stripe-form" }, data: { stripe_key: @account.publishable_key }  do |form| %>  <div>


 <label for="card-element" class="label">
      Credit or debit card
    </label>

    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert" class="text-sm text-red-400"></div>
  </div>

  <input type="hidden" name="account_id" value="<%= params[:account_id] %>">
  <input type="hidden" name="order" value="<%= params[:order] %>">

  <button> Pay<%= sprintf("£%0.02f", (params[:amount]) ) %></button>

<% end %>
