<div class="w-full mx-auto">
  <h3 class="mb-2 text-2xl font-bold text-black text-center">  <em><%= @account.s_name %> | Checkout </em></h3>


  <div class=" border rounded">
    <%= render "form", account: @account %>
  </div>

</div>
