<div class="max-w-lg m-auto">
 <% if current_user.can_receive_payments? %>
    <%= render 'form', product: @product %>
    <%= link_to "Back", admin_products_path %>
  <% else %>
  <div class="p-6 bg-white rounded-lg">
    <h1 class="text-3xl font-bold text-gray-900">Authorize Stripe</h1>
    <p class="mb-6 text-gray-900">Before you can configure a new product we need you to connect to Stripe</p>
    <%= stripe_connect_button %>
  </div>
  <% end %>
</div>