<div class="max-w-lg m-auto">
 <% if current_user.can_receive_payments? %>
    <%= render 'form', product: @product %>
    <%= link_to "Back", admin_products_path %>
  <% else %>
    <%= render 'form', product: @product %>
    <%= link_to "Back", admin_products_path %>
  <% end %>
</div>