                            <tr class="border-b hover:bg-orange-100 bg-gray-100">
                                <td class="p-3 px-5"><%= product.title %></td>
                                <td class="p-3 px-5"><%= line_item.quantity %></td>
                                <td class="p-3 px-5"><%= sprintf("£%0.02f", line_item.product.price) %></td>
                                <td class="p-3 px-5"><%= sprintf("£%0.02f", line_item.product.price * line_item.quantity) %></td>

                            </tr>